.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
}

.movieItem {
  flex-basis: calc(33.33% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  position: relative; 
}

.movieImage {
  width: 100%;
  height: auto;
}

.movieTitle {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: #fff; 
  position: absolute; 
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 10px;
}